html {
  background-color: #1666a6;
  border: 20px solid #000000;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  opacity: 0.9;
}

.container {
  display: grid;
  gap: 16px; /* Espaçamento entre blocos */
  width: 100%; /* Ajusta a largura do container */
  margin: 30px 130px;
}

.grid-4x4 {
  grid-template-columns: repeat(4, 1fr);
}

.score {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 20px;
  color: white;
  background-color: #000000;
}
